.modaldialog-title {
	-fx-font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.modaldialog-subtitle {
	-fx-font-family: 'Arial', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	-fx-font-style: italic;
}

.form-pane {
	-fx-padding: 10;
	-fx-hgap: 5;
	-fx-vgap: 5;
}

.path-list {
	-fx-padding: 10;
	-fx-spacing: 5;
}

.composite-layout {
	-fx-padding: 10;
}

.button-bar {
	-fx-padding: 3 10 5 0;
}

.marathonite-splash-screen .label {
	-fx-font-size: 11;
	-fx-font-weight: bold;
}

.search #SearchSeparator {
	-fx-padding: 8 0 0 0;
}

.preferences-stage #mouse_trigger-field-1, .preferences-stage #keyboard_trigger-field-1
	{
	-fx-background-color: lightblue;
}

.fixture-selection #fixture-list-view {
	-fx-border-color: black;
	-fx-border-insets: 10;
}

.fixture-selection #fixture-selection-toolbar #fixture-selection-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.MarathonFileChooser #marathon-save-banner #marathon-save-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.about-stage .label {
	-fx-text-fill: black;
}

.about-stage #titleBar {
	-fx-padding: 5 0 0 0;
}

.about-stage #blurbTitle {
	-fx-font-weight: bolder;
	-fx-font-size: 12;
}

.about-stage #vesionInfo {
	-fx-label-padding: 5 0 0 0;
	-fx-font-weight: bolder;
	-fx-font-size: 11;
}

.about-stage #companyName {
	-fx-padding: 5 0 0 0;
	-fx-font-size: 12;
}

.about-stage #websiteAddress, #creditsLabel {
	-fx-font-size: 12;
}

.about-stage #buttonBar {
	-fx-padding: 5 5 5 0;
}

.marathonite-about-stage #vesionInfo {
	-fx-label-padding: 5 0 0 0;
	-fx-font-weight: bolder;
	-fx-font-size: 11;
}

.marathonite-about-stage #companyName {
	-fx-padding: 0 0 0 0;
	-fx-font-size: 11;
}

.marathonite-about-stage #trialLicenseLabel {
	-fx-font-size: 12;
}

.omap-folder-cleanup-stage #cleanupToolBar #omapCleanUpTitle {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.omap-folder-cleanup-stage #toolbarBannerBox {
	-fx-padding: 15 5 5 10;
}

.omap-folder-cleanup-stage #logoBox {
	-fx-padding: 5 5 5 5;
}

.object-map-stage #selectNodeButtonBar {
	-fx-padding: 5 5 5 0.5;
}

.object-map-stage #verticalButtonBox {
	-fx-padding: 16 0 0 0;
}

.object-map-configuration #verticalButtonBox {
	-fx-padding: 21 5 0 5;
}

#status-bar .separator:vertical .line {
	-fx-border-width: 1;
	-fx-border-color: dimgrey;
}

.ace-editor-preferences-stage #ace-editor-preference-toolbar #preference-label-1
	{
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}
.ace-editor-preferences-stage #ButtonBar{
	-fx-padding: 2.5 5 2.5 5;
} 

.test-runner .green-bar {
	-fx-accent: limegreen;
}

.test-runner .red-bar {
	-fx-accent: salmon;
}

.run-history-stage #history-pane {
	-fx-padding: 10;
}

.run-history-stage #vertical-buttonbar {
	-fx-padding: 22 0 0 0;
}

.icon-button {
	-fx-color: -fx-hover-base;
}
.marathon-input #ErrorMessageLabel{
	-fx-padding: 0 0 0 5;
}
.project-selection #ProjectSelectionButtonbar{
	-fx-padding: 2.5 5 2.5 5;
}