@font-face {
	src: url('../segoeui.ttf');
}

@font-face {
	src: url('../segoeuib.ttf');
}

@font-face {
	src: url('../segoeuil.ttf');
}

@font-face {
	src: url('../segoeuisl.ttf');
}

@font-face {
	src: url('../seguisb.ttf');
}

.text {
	-fx-font-size: 14px;
}

.toggle-switch {
	-fx-skin: "impl.org.controlsfx.skin.ToggleSwitchSkin";
	-toggle-display: right;
	-fx-padding: 0 20 0 0;
}

.toggle-switch .thumb {
	-fx-pref-width: 23px;
	-fx-pref-height: 23px;
	-fx-background-image: url("../icons/sun.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}

.toggle-switch:selected .thumb {
	-fx-pref-width: 23px;
	-fx-pref-height: 23px;
	-fx-background-image: url("../icons/moon.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
}

.toggle-switch:selected .thumb {
	-fx-pref-width: 23px;
	-fx-pref-height: 23px;
	-fx-background-image: url("../icons/moon.png");
	-fx-background-repeat: stretch;
	-fx-background-position: center center;
	-fx-background-color: thumb_unselected_hover_color;
}

.toggle-switch .thumb-area {
	-fx-pref-width: 50px;
	-fx-pref-height: 23px;
	-fx-background-position: center center;
}

.toggle-switch .thumb {
	-fx-background-color: thumb_selected_color;
}

.marathonite-splash-screen .text {
	-fx-font-size: 12px;
}

.modaldialog-title .text {
	-fx-font-size: 24px;
}

.modaldialog-subtitle .text {
	-fx-font-family: 'Arial', 'Palatino Linotype', 'Book Antiqua', Palatino,
		serif;
	-fx-font-style: italic;
	-fx-font-size: 12px;
}

.form-pane {
	-fx-padding: 10;
	-fx-hgap: 5;
	-fx-vgap: 5;
}

.path-list {
	-fx-padding: 10;
	-fx-spacing: 5;
}

.composite-layout {
	-fx-padding: 10;
}

.button-bar {
	-fx-padding: 3 10 5 0;
}

.marathonite-splash-screen .label .text {
	-fx-font-size: 11;
	-fx-font-weight: bold;
}

.search #SearchSeparator {
	-fx-padding: 8 0 0 0;
}

.preferences-stage #mouse_trigger-field-1, .preferences-stage #keyboard_trigger-field-1
	{
	-fx-background-color: lightblue;
}

.fixture-selection #fixture-list-view {
	-fx-border-color: black;
	-fx-border-insets: 10;
}

.fixture-selection #fixture-selection-toolbar #fixture-selection-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.MarathonFileChooser #marathon-save-banner #marathon-save-title {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.about-stage .label {
	-fx-text-fill: black;
}

.about-stage #titleBar {
	-fx-padding: 5 0 0 0;
}

.about-stage #blurbTitle {
	-fx-font-weight: bolder;
	-fx-font-size: 12;
}

.about-stage #vesionInfo {
	-fx-label-padding: 5 0 0 0;
	-fx-font-weight: bolder;
	-fx-font-size: 11;
}

.about-stage #companyName {
	-fx-padding: 5 0 0 0;
	-fx-font-size: 12;
}

.about-stage #websiteAddress, #creditsLabel {
	-fx-font-size: 12;
}

.about-stage #buttonBar {
	-fx-padding: 5 5 5 0;
}

.marathonite-about-stage #vesionInfo {
	-fx-label-padding: 5 0 0 0;
	-fx-font-weight: bolder;
	-fx-font-size: 11;
}

.marathonite-about-stage #companyName {
	-fx-padding: 0 0 0 0;
	-fx-font-size: 11;
}

.marathonite-about-stage #trialLicenseLabel {
	-fx-font-size: 12;
}

.omap-folder-cleanup-stage #cleanupToolBar #omapCleanUpTitle {
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.omap-folder-cleanup-stage #toolbarBannerBox {
	-fx-padding: 15 5 5 10;
}

.omap-folder-cleanup-stage #logoBox {
	-fx-padding: 5 5 5 5;
}

.object-map-stage #selectNodeButtonBar {
	-fx-padding: 5 5 5 0.5;
}

.object-map-stage #verticalButtonBox {
	-fx-padding: 16 0 0 0;
}

.object-map-configuration #verticalButtonBox {
	-fx-padding: 21 5 0 5;
}

#status-bar .separator:vertical .line {
	-fx-border-width: 1;
	-fx-border-color: dimgrey;
}

.ace-editor-preferences-stage #ace-editor-preference-toolbar #preference-label-1
	{
	-fx-font-weight: bold;
	-fx-font-size: 1.5em;
}

.ace-editor-preferences-stage #ButtonBar {
	-fx-padding: 2.5 5 2.5 5;
}

.test-runner .green-bar {
	-fx-accent: limegreen;
}

.test-runner .red-bar {
	-fx-accent: salmon;
}

.run-history-stage #history-pane {
	-fx-padding: 10;
}

.run-history-stage #vertical-buttonbar {
	-fx-padding: 22 0 0 0;
}

.icon-button {
	-fx-color: -fx-hover-base;
}

.marathon-input #ErrorMessageLabel {
	-fx-padding: 0 0 0 5;
}

.project-selection #ProjectSelectionButtonbar {
	-fx-padding: 2.5 5 2.5 5;
}

.image-label-fa .text {
	-fx-font-family: "fontawesome";
	-fx-font-size: 16px;
}

.image-label-mi .text {
	-fx-font-family: "Material Icons";
	-fx-font-size: 16px;
}

.image-label-mdi .text {
	-fx-font-family: "Material Design Icons";
	-fx-font-size: 16px;
}

.image-label-im .text {
	-fx-font-family: "IcoMoon-Free";
	-fx-font-size: 16px;
}

.image-label-mdl2 .text {
	-fx-font-family: "Segoe MDL2 Assets";
	-fx-font-size: 16px;
}